@model ITService.Domain.Command.Facility.EditFacilityCommand
@{
    ViewData["Title"] = "Edit facility";

}
<div style="margin-top:20px;"></div>
<form method="post" asp-action="Update" asp-controller="Facilities">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row p-3 border">
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StreetAdress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StreetAdress" class="form-control" />
                    <span asp-validation-for="StreetAdress" class="text-danger">
                    </span>
                </div>
            </div>
          
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="City"></label>
                </div>
                <div class="col-8">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PostalCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhoneNumber" type="text" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OpenedSaturday"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OpenedSaturday" type="text" class="form-control" />
                    <span asp-validation-for="OpenedSaturday" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OpenedWeek"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OpenedWeek" type="text" class="form-control" />
                    <span asp-validation-for="OpenedWeek" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MapUrl"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MapUrl" type="text" class="form-control" />
                    <span asp-validation-for="MapUrl" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row" style="margin-top:20px">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary form-control">Edit</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-secondary form-control">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
