@using ITService.Domain.Query.Dto.Pagination.PageResults
@using ITService.Domain.Query.Dto
@model ServicePageResult<ServiceDto>
@{
    ViewData["Title"] = "Services";
}

<div style="border:1px solid black; margin:10px;">
    <h1 style="text-align:center;padding:10px; color:gray;  text-transform:uppercase">Services</h1>
</div>

<div class="row pb-3 backgroundWhite" style="margin-top: 10px;">
    @foreach (var product in Model.Items)
    {
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4">
            <div class="row p-2 border"  >
                <div class="col-8  p-1">
                    <div  >
                        <div style="margin-top:5px">
                        </div>
                        <div class="pl-1" style="text-align:center; ">
                            <p class="card-title h5"><b style="color:#2c3e50;font-size:1.5rem;">@product.Name</b></p>
                        </div>
                        <h6 class="text-center" style="margin-top:20px;">Estimated <span style="color:darkred">service</span> price</h6>
                        <h6 class="text-center">@product.EstimatedServicePrice $</h6>

                    </div>
                    <div style="margin-top:10px">

                    </div>
                </div>
                <div class="col-4 p-1">
                    <div class="border">

                        <img src="@product.Image" style="width:100%" class="card-img-top  rounded" />

                    </div>
                </div>
                <div class="col-12 p-1 border">
                    <div class="text-center">

                        <p style="color:black;">@product.Description</p>

                    </div>

                </div>

            </div>
        </div>
    }
</div>