
@using ITService.Domain.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITService.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm  navbar-collapse-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container justify-content-sm-start">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" hidden>Service4Now</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  collapse d-sm-inline-flex justify-content-around">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Customer"  asp-controller="Home" style="color:firebrick" asp-action="Index">Service4Now</a>   
                        </li>
                        <li>
                            <form class="form-inline" method="post">
                                <input name="searchPhrase" accesskey="phrase" class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button asp-action="Search" asp-controller="Home" asp-area="Customer" class="btn btn-outline-secondary " type="submit">Search</button>
                            </form>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Others
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Services" asp-action="Index">Services</a>
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Facilities" asp-action="Index">Facilities</a>

                            </div>
                        </li>
                        @if (User.IsInRole(Roles.AdminUserRole) || User.IsInRole(Roles.EmployeeUserRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Facilities" asp-action="Index">Facilities</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Manufacturers" asp-action="Index">Manufacturers</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Services" asp-action="Index">Services</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
                                    @if (User.IsInRole(Roles.AdminUserRole))
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                                    }
                                </div>
                            </li>

                        }  
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer b  text-light bg-dark" style="text-align:center;">
        <div class="container ">
            &copy; 2021 - Service4Now.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a7bb09ce43.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
